<header>
    <mat-toolbar class="b3-blue-bg b3-hs__header" color="primary">
        <!-- <img class="logo-b3" src="../../assets/image/help-system-logo-bgtrans.png"> -->
        <span  class="help-system__name div-sidenav__span">Help System</span>
        <i class="fa icon__bell">🔔</i>
        <!-- <marquee scrollamount="4"> -->
        <!-- <span class="marquee-span">• TELEGRAM - Novo canal da B3 para acompanhamento dos comunicados. Procure por: "Comunicados B3-UIF"</span> -->
        <!-- <span class="marquee-span">• BENEFICIO TRIBUTÁRIO - Abra a sua solicitação no Portal de Autoatendimento. Acesse a área autenticada ou utilize o Fale conosco.</span> -->
        <!-- </marquee> -->
    </mat-toolbar>
</header>
