<mat-toolbar class="b3-blue-bg b3-hs__sidenav" color="primary">
  <div class="div-sidenav">
    <img class="logo-b3" src="../../assets/image/help-system-logo-bgtrans.png">
    <!-- <span  class="help-system__name div-sidenav__span">.</span> -->
    <!-- <img class="avatar" src="../../assets/image/avatar.png"> -->
    <span  class="div-sidenav__span">Olá, {{myData.username}} <br>Cargo: {{myData.role}}</span>
    <button mat-flat-button class="button-exit" color="primary">
      <i style="font-size:30px" class="fa button-exit__icon">&#xf08b;</i> Sair
    </button>
    <hr>
    <app-menu></app-menu>
  </div>
</mat-toolbar>
