<div>
    <span class="menu-span">Áreas</span>
    <button class="menu-button" mat-button>Administrativo</button>
    <button class="menu-button" mat-button>Financeiro</button>
    <button class="menu-button" mat-button>Recursos Humanos</button>
    <button class="menu-button" mat-button>Comercial</button>
    <button class="menu-button" mat-button>Operacional</button>
</div>
<div class="menu-div">
    <span class="menu-span">Suporte</span>
    <button class="menu-button" mat-button>Manuais e Layouts</button>
    <button class="menu-button" mat-button>Canais de Atendimento</button>
    <button class="menu-button" mat-button>Atualização Cadastral</button>
</div>
