<div class="div-father">
    <mat-toolbar class="main1">
        <div class="div-question">
            <span class="span-question">Como podemos te Ajudar?</span>
            <div class="main">
                <input type="text" />
                <button mat-flat-button type="submit" class="button-search" color="primary">
                    Buscar
                </button>
            </div>
        </div>
        <img class="banner" src="../../assets/image/banner.png">
    </mat-toolbar>
    <mat-toolbar class="main2" color="primary">
            <button mat-flat-button class="button-support button-support1" (click)="openDialog()" color="primary">
                ABRIR SOLICITAÇÃO
            </button>
            <button mat-flat-button class="button-support button-support2" (click)="openDialog2()" color="primary">
                LISTAR SOLICITAÇÕES
            </button>
            <button mat-flat-button class="button-support button-support3" color="primary">
                AVALIAR AJUDAS
            </button>
    </mat-toolbar>


    <!-- <div class="div-main-buttons"> -->
        <!-- <app-main-buttons></app-main-buttons> -->
    <!-- </div> -->
    <!-- <div class="div-secondary-buttons"> -->
        <!-- <app-secondary-buttons></app-secondary-buttons> -->
    <!-- </div> -->
</div>
